html, body {
    background-color: #000000

}

html {
    font-size: 233%;
    float: center;
}

/* @font-face {
    font-family: "ZnikomitNo24.otf";
    src: local("ZnikomitNo24.otf"),
    url("./fonts/ZnikomitNo24.otf") format("truetype");
    font-weight: normal;
} */

.menu {
    font-size: 150%;
}
