html,
body {
  background-color: #000000;
  height: 100vh;
}

html {
  font-size: 233%;
  float: center;
}

/* @font-face {
    font-family: "ZnikomitNo24.otf";
    src: local("ZnikomitNo24.otf"),
    url("./fonts/ZnikomitNo24.otf") format("truetype");
    font-weight: normal;
} */

.menu {
  font-size: 150%;
}

/* .links {
    color: #CBCB41 ;
} */

.uniqueTitle {
  font-family: "Faune", sans-serif;
  color: #cbcb41;
}

.uniqueBody {
  font-family: "Faune", sans-serif;
  font-weight: 100;
}

.header {
  font-family: "Faune", sans-serif;
  color: #cbcb41;
}

.portfolioBody {
  font-family: "Faune", sans-serif;
}

.link-text {
  font-family: "Faune", sans-serif;
}

.bg-video {
  width: "100%";
  height: "100%";
  margin: 0;
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
}

.hero {
  position: relative;
  font-family: "Faune", sans-serif;
  color: #cd2912;
  text-align: center;
  font-weight: bold;
  line-height: 80px;
  padding: 0em 0.1em 0.15em 0.1em;
  top: 80%;
  /* background-color: hsla(80, 7%, 93%, 0.1); */
  /* background-color: hsla(0, 0%, 0%, 0.7); */
  box-shadow: inset 5px 5px 40px 40px rgba(235, 236, 233, 0.7),
    5px 5px 30px 30px rgba(235, 236, 233, 0.7);
}

.heroCol {
  float: none;
  margin: 0 auto;
}

.subtitle {
  position: relative;
  color: "#CBCB41";
  text-align: end;
  font-family: "Faune";
  font-style: italic;
}

.bigmenu {
  position: relative;
  background-color: #cd2912;
  text-align: end;
}

.propic {
  /* position: relative; */
  /* width: 500px; */
  height: 500px;
  /* border-radius: 50% */
}

.About {
  margin-left: 45px;
  color: #cd2912;
  text-align: left;
  font-family: "Faune";
  font-weight: bold;
  font-style: italic;
}
.AboutBody {
  margin-left: 40px;
}

.spotifyNotif {
  margin-top: 30px;
  text-align: start;
}
